{% set i = 0 %}
<ul class="ranking">
{% for style in data %}
	{% set i = i + 1 %}
    <li data-style="{{ style[0].id }}">
    	<div class="ranking-image-wrapper ranking-style-color-container">
    		<div class="ranking-style-color" style="background-color: {% if style[0].color %}{{ style[0].color }}{% else %}#ffffff{% endif %}"></div>
    	</div>
    	<div class="beer-info">
        	<div class="beer-info-line"><a href="#">{{ style[0].name }}</a></div>
        	<div class="beer-info-line rating-line">{{ style.total }} check-ins</span></div>
        	<div class="beer-info-line"></div>
        </div>
    </li>
{% endfor %}
</ul>