{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% if currentEvents|length > 0 %}
        Current events :
        <ul>
            {% for event in currentEvents %}
            	<li><a href="/live/event/{{ event.getId }}">{{ event.getName }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
    	No current events
    {% endif %}
{% endblock %}
