{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    {% if currentEvents|length > 0 %}
        Current events :
        <ul>
            {% for event in currentEvents %}
            	<li>{{ event.getName }}</li>
            {% endfor %}
        </ul>
    {% else %}
    	No current events.
    {% endif %}
{% endblock %}
