{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block navbar %}
{% endblock %}
       
{% block body %}
<div class="container">
    <div class="jumbotron" id="homepage-presentation">
		<h1 class="display-3">Welcome to Live Beer Feed!</h1>
		<p class="lead">Get live information and statistics during your favorite beer events. 
		<br />Receive notifications from the organizers and brewers.
		<br />Contact: <a href="mailto:robin@livebeerfeed.com">robin@livebeerfeed.com</a></p>
		<hr class="my-2">
		<h1 class="display-4">Current events</h3>
        {% if currentEvents|length > 0 %}
			<div class="clearfix">
		    {% for event in currentEvents %}
                {% include 'main/templates/current_event_card.template.html.twig' with { 'event': event } %}
            {% endfor %}
            </div>
        {% else %}
        	<p>We aren't tracking any events at the moment.</p>
        {% endif %}
        {% if upcomingEvents|length > 0 %}
    		<hr class="my-4">
    		<h1 class="display-4">Upcoming events</h3>
			<div class="clearfix">
		    {% for event in upcomingEvents %}
                {% include 'main/templates/event_card.template.html.twig' with { 'event': event  } %}
            {% endfor %}
        	</div>
        {% endif %}
        {% if previousEvents|length > 0 %}
			<hr class="my-4">
			<h1 class="display-4">Previous events</h1>
			<div class="clearfix">
		    {% for event in previousEvents %}
                {% include 'main/templates/event_card.template.html.twig' with { 'event': event  } %}
            {% endfor %}
    		</div>
        {% endif %}
    </div>
</div>
{% endblock %}
