body {
	font-family: ProximaNova, Helvetica, sans-serif;
    padding-top: 70px;
    background-color: #f5f2e8;
}

.chart-container {
    width: 700px;
    height: 300px;
    margin-right: 15px;
    float: right;
}

.profile-title {
	height: 115px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #ddd;
}

.profile-title .avatar-wrapper {
	margin: 0 10px;
}

.user-full-name {
	font-size: 30px;
	display: block;
	line-height: 38px;
}

.user-details {
	font-size:14px;
	display: block;
}

.avatar-wrapper {
	border-radius: 64px;
	width: 80px;
	height: 80px;
	border: 2px solid #f5f2e8;
	overflow: hidden;
	float:left;
}

.avatar-wrapper img{
	width: 100%;
	display: block;
}