body {
    background-color: #f5f2e8;
}

a {
    color: #c60;
}

 a:hover {
	color: #ff9933;
	text-decoration: none;
}
 
.container {
	background-color: #FDFDFB;
	padding: 12px;
}

.navbar-push {
    margin-bottom: 56px;
}
 
.homepage-event-icon {
	width:96px;
	height:96px;	
	margin:10px;
}
 
.homepage-event-icon img {
	width:100%;
	height:100%;	
}

.floating-card {
    float: left;
    margin: 5px;
    max-width: 300px;
}

.homepage-presentation > .display-4 {
	margin-bottom: 6px;
}

.powered-by-untappd {
 	height: 100%;
 	line-height: 30px;
 	font-weight: bold;
 	font-size:17px;
}
 
 .powered-by-untappd img {
 	height: 95%;
 	position: relative;
 	bottom: 1px;
 }
 
 .container {
 	padding-top: 12px;
 }
 
.chart-container {
    width: 700px;
    height: 300px;
    margin-right: 15px;
    float: right;
}

.form-highlight {
	float: right;
}

.profile-title {
	height: 115px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #e2e2e2;
}

.profile-title .avatar-wrapper {
	margin: 0 10px;
}

.user-full-name {
	font-size: 30px;
	display: block;
	line-height: 38px;
}

.user-details {
	font-size:14px;
	display: block;
}

.profile-title .avatar-wrapper {
	border-radius: 64px;
	width: 80px;
	height: 80px;
	border: 2px solid #f5f2e8;
	overflow: hidden;
	float: left;
	position: relative;
}

.profile-title .avatar-wrapper img{
	width: 100%;
	display: block;
}


.ranking-line .avatar-wrapper {
	border-radius: 64px;
	margin:4px;
	width: 58px;
	height: 58px;
	border: 2px solid #f5f2e8;
	overflow: hidden;
	float: left;
	position: relative;
}

.ranking-line .avatar-wrapper img{
	width: 100%;
	display: block;
}


#live-venue-title {
	margin: 5px;
	height: 40px;
	padding: 5px 15px;
	background-color: #ffcc00;
    border-bottom: 1px solid #e2e2e2;
}

.container #live-venue-title {
	margin: 0;
	margin-bottom: 4px;
	padding: 5px 8px;
}

.container .page-title {
	font-size:24px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	display:inline-block;
	width:100%;
	margin-bottom: 8px;
	padding: 0px 6px;
}

.page-title.stat-title {
	text-align: center;
    margin-bottom: 0;
    border: 0;
}

#live-venue-title .description {
	font-size:20px;
	height:35px;
	white-space: nowrap;
}

#live-venue-title .description img {
	height:100%;
	position: relative;
    bottom: 3px;
}

#live-venue-title i {
	position: relative;
}

#live-content {
	margin: 5px;
}

#right-panel {
	height: calc(100vh - 50px);
	overflow: hidden;
	width:30%;
    float:right;
}

#live-media {
	background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

#live-media > div {
	flex: 1 0 25%;
}

#live-media > div:nth-child(3) {
	flex: 0 1 33.3%;
}

#live-media > div:first-child {
	flex: 0 1 50%;
}

#info-content {
	text-align: center;
	width: 100%;
    border: 3px solid #e2e2e2;
	margin-bottom: 4px;
	font-family: 'Oswald', sans-serif;
}

#info-content .line {
	color: #555;
	font-size: 28px;
	line-height: 30px;
	padding: 4px;
	background-color: #fdfdfd;
	height: 40px;
	overflow: hidden;
}

#info-content .line span {
	white-space: nowrap;
}

#info-content .visitor span {
	overflow: hidden;
	text-overflow: ellipsis;
}

.visitor .info-line-text {
	overflow: hidden;
}

#info-content .line:first-child {
    border-bottom: 1px solid #e2e2e2;
}

#info-content .line:nth-child(2) {
    border-bottom: 1px solid #e2e2e2;
}

.info-major {
	font-weight: 500;
    color: #c60;
    border-color: #c60;
}

.info-line-text {
	position: relative;
}

.info-line-text img { 
	max-height: 100%;	
	position: relative;
	bottom: 2px;
}

.info-line-text .image-wrapper {
    height:36px;	
    display:inline-block;
    position:relative;
    bottom:1px;
}

.info-line-text .image-wrapper img {
    border-radius: 26px;
	border: 1px solid #e2e2e2;
}

.info-line-text .color-wrapper {
    height:24px;	
    width:24px;	
    display:inline-block;
    position:relative;
    bottom:2px;
}

#left-panel {
	max-height: calc(100vh - 50px);
    float: left;
	padding: 0;
	width: 70%;
	overflow: hidden;
	padding-right:5px;
	margin-bottom: 0;
}

#live-feed {
	padding: 0;
}

#live-feed li {
	position: relative;
	background-color: #fff;
	margin-bottom: 4px;
	list-style-type: none;
	min-height:60px;
    border-bottom: 1px solid #e2e2e2;
    line-height:28px;
	clear:both;
	overflow: hidden;
	font-size: 18px;
}

#live-feed .avatar-wrapper {
	width: 52px;
	height: 52px;
	position: relative;
	margin: 4px 10px;
	float: left;
}

#live-feed .avatar-wrapper .supporter {
	position: absolute;
    display: block;
    width: 34px;
    height: 17px;
    left: 50%;
    margin-left: -17px;
    top: 40px;
    z-index: 0;
    background-image: url(../images/feed_main_supporter.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#live-feed .avatar-wrapper a {
	z-index: 2;
    position: absolute;
    display: block;
	width: 100%;
	height: 100%;
    border-radius: 26px;
    overflow: hidden;
}

#live-feed .avatar-wrapper a img {
	height: 100%;
	width: 100%;
}

#live-feed .checkin-info {
	padding-left: 70px;
}

#live-feed .has-media {
	text-align: center;
	position:absolute;
	top: 0;
	right: 0;
	width: 24px;
	height: 24px;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	border-bottom-left-radius: 12px;
}

.has-media .media-number {
	position: relative;
	bottom: 3px;
}

#live-media .checkin-photo {
	position: relative;
	display: inline-block;
	overflow:hidden;
	padding:3px;
	white-space: normal;
}

#live-media .checkin-photo img {
    width: 100%;
}

.media-name .brewery-name {
	font-style: italic;
}

.checkin-photo .media-id {
	text-align: center;
	position:absolute;
	top: 3px;
	right: 3px;
	width: 24px;
	height: 24px;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	border-bottom-left-radius: 12px;
}

.checkin-photo .media-name {
	text-align: center;
	position:absolute;
	left: 0;
	bottom: 0;
    margin:0 3px 3px 3px;
    padding: 0 3px;
	width: calc(100% - 6px);
	height: 18px;
	font-size: 12px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.checkin-photo .media-number {
	position: relative;
	top: 1px;
}

.rating.small {
    display: inline-block;
    height: 24px;
    width: 132px;
    background-image: url(../images/ratings_quarters_small.png);
    background-position: top left;
    background-size: 132px 558px;
    background-repeat: no-repeat;
}

.rating.small.r0 {
	background-position:0 0px;
}

.rating.small.r25 {
	background-position:0 -26px;
}

.rating.small.r50 {
	background-position:0 -54px;
}

.rating.small.r75 {
	background-position:0 -80px;
}

.rating.small.r100 {
	background-position:0 -106px;
}

.rating.small.r125{
	background-position:0 -134px;
}

.rating.small.r150{
	background-position:0 -160px;
}

.rating.small.r175{
	background-position:0 -186px;
}

rating.small.r200{
	background-position:0 -213px;
}

.rating.small.r225{
	background-position:0 -240px;
}

.rating.small.r250{
	background-position:0 -266px;
}

.rating.small.r275{
	background-position:0 -294px;
}

.rating.small.r300{
	background-position:0 -320px;
}

.rating.small.r325{
	background-position:0 -346px;
}

.rating.small.r350{
	background-position:0 -372px;
}

.rating.small.r375{
	background-position:0 -400px;
}

.rating.small.r400{
	background-position:0 -426px;
}

.rating.small.r425{
	background-position:0 -452px;
}

.rating.small.r450{
	background-position:0 -480px;
}

.rating.small.r475{
	background-position:0 -506px;
}

.rating.small.r500{
	background-position:0 -534px;
}

.checkin-date {
	font-style: italic;
}

.important-message {
	font-weight:bold;
	color: red;
}

.checkin-info .comment {
	position: relative;
	bottom:5px;
	padding-left: 2px;
	color: #777;
	font-style: italic;
}

.gradient-bottom{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:50px;
    z-index:100;
    background: -moz-linear-gradient(top,  rgba(137,255,241,0) 0%, rgba(137,255,241,0) 10%, rgba(245,242,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgba(245,242,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(137,255,241,0) 0%, rgba(137,255,241,0) 10%, rgba(245,242,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(137,255,241,0) 0%, rgba(137,255,241,0) 10%, rgba(245,242,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(137,255,241,0) 0%, rgba(137,255,241,0) 10%, rgba(245,242,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(137,255,241,0) 0%, rgba(137,255,241,0) 10%, rgba(245,242,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#f5f2e8',GradientType=0 ); /* IE6-9 */
}

#close-live {
	float: right;
	font-size: 20px;
	display: none; 
}

#close-live a {
	color: #555;
}

#close-live a:hover {
	color: #888;
}

#start-live-mode {
	float: right;
	font-size: 20px;
}

#start-live-mode a {
	color: #555;
}

#start-live-mode a:hover {
	color: #888;
}

.ranking-number {
    width: 10px;
    font-size: 20px;
    font-weight: bold;
}

.ranking-number span {
}

.ranking {
	padding: 0;
	margin-bottom: 0;
}

.subscribe-button {
	width: 100%;
	margin-bottom: 6px;
}

.ranking li {
	position: relative;
	background-color: #fff;
	list-style-type: none;
	min-height:60px;
    border-top: 1px solid #e2e2e2;
    line-height:28px;
	clear:both;
	overflow: hidden;
	margin: 3px 0;
    white-space: nowrap;
}

.ranking li > div {
	vertical-align: middle;
}

.ranking-image-wrapper {
	margin: 0 10px 0 5px;
	width: 64px;
	height: 64px;
	position: relative;
	float: left; 
    margin-top: 2px;
}

.ranking-image-wrapper a {
	z-index: 2;
    position: absolute;
    display: block;
	width: 100%;
	height: 100%;
    overflow: hidden;
}

.ranking-image-wrapper a img {
	height: 100%;
	width: 100%;
}

.beer-info {
    overflow: hidden;
}

.beer-info-line {
    line-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.beer-info-line .rating {
	position: relative;
    bottom: 1px;
}

.beer-info-line .rating-value {
    position: relative;
    bottom: 5px;
    margin-bottom: -5px;
}

.rating-line {
	height: 22px;
}
.carousel-inner {
}

.carousel-item {
	padding-left: 5px;
	padding-right: 5px;
}

.carousel-control-next {
	width: 50px;
}

.carousel-control-prev {
	width: 50px;
}
.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
	position: relative;
	right: 29px;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
	position: relative;
	left: 29px;
}

.ranking-style-color-container {
	 padding: 8px;
}

.live-style-color-container {
	position: relative;
	top: 0px;
}

.ranking-style-color {
     height: 100%;
     width: 100%;
	 border-radius: 40px;
	 border: 2px solid #000;
}

.notification-history-element {
	margin-bottom: 10px;
}

.message-timestamp {
	border-top: 3px solid #e2e2e2;
    min-width: 80px;
    border-left: 3px solid #e2e2e2;
    border-right: 3px solid #e2e2e2;
    padding: 0 10px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
}

.large-icon {
    float: left;
    font-size: 49px;
    margin-right: 18px;
}

@media (min-width: 768px) {
	.carousel-inner .active,
	.carousel-inner .active + .carousel-item,
	.carousel-inner .active + .carousel-item + .carousel-item {
	 	 display: block;
	}

	.carousel-inner
  	.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
	.carousel-inner
  	.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
  	  + .carousel-item,
	.carousel-inner
  	.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
  	  + .carousel-item
  	  + .carousel-item {
  		transition: none;
	}

	.carousel-inner .carousel-item-next,
	.carousel-inner .carousel-item-prev {
 		 position: relative;
  		transform: translate3d(0, 0, 0);
	}

	.carousel-inner
  	.active.carousel-item
  	  + .carousel-item
 	  + .carousel-item
  	  + .carousel-item {
		position: absolute;
		top: 0;
		right: -33.3333%;
		z-index: -1;
		display: block;
		visibility: visible;
	}

	.active.carousel-item-left + .carousel-item-next.carousel-item-left,
	.carousel-item-next.carousel-item-left + .carousel-item,
	.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
	.carousel-item-next.carousel-item-left
	  + .carousel-item
	  + .carousel-item
	  + .carousel-item {
		position: relative;
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}

	.carousel-inner .carousel-item-prev.carousel-item-right {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: block;
		visibility: visible;
	}

	.active.carousel-item-right + .carousel-item-prev.carousel-item-right,
	.carousel-item-prev.carousel-item-right + .carousel-item,
	.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
	.carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
	    position: relative;
	    transform: translate3d(100%, 0, 0);
	    visibility: visible;
	    display: block;
	    visibility: visible;
	}
}

.button-animation {
	padding: 0 3px;
}

.taplist-beer {
    position: relative;
    background-color: #fff;
    list-style-type: none;
    min-height: 60px;
    border: 1px solid #e2e2e2;
    line-height: 28px;
    clear: both;
    overflow: hidden;
    margin: 5px 0;
    white-space: nowrap;
}

.beer-info .title {
	background-color: #eaeaea;
	white-space: nowrap;
	border-bottom: 2px solid #e2e2e2;
}

.title .beer-name {
	text-overflow: ellipsis;
    overflow: hidden;
    padding: 0px 7px;
    font-weight: 500;
	width: calc(100% - 30px);
	height:28px;
}

.title .beer-name-admin {
	text-overflow: ellipsis;
    overflow: hidden;
    padding: 0px 7px;
    font-weight: 500;
	width: calc(100% - 70px);
	height:28px;
} 

.title .out-of-stock {
	position: absolute;
	right: 30px;
	top: 1px;
	display: inline-block;	
	color: #bbb;
	cursor: pointer;
	font-size:16px;
	padding-left: 15px;
	display: none;
}

.out-of-stock i {
	display: inline-block;	
}

.out-of-stock.active {
	color: red;
	text-shadow: 0px 0px 1px rgba(150, 150, 150, 1);
}

.title .admin {
	position: absolute;
	right: 30px;
	display: inline-block;	
	color: #bbb;
	cursor: pointer;
	font-size:16px;
	padding-left: 15px;
	display: none;
}

.title .tick {
	background-color: #eaeaea;
	margin-left: 4px;
	font-size:18px;
	display: inline-block;	
	float: right;
	height:30px;
	width:26px;
	color: #bbb;
	cursor: pointer;
}

.no-longer-available {
	background: repeating-linear-gradient(
	  45deg,
	  #ccc,
	  #ccc 10px,
	  #eee 10px,
	  #eee 20px
	);
}

.tick {
	display: inline-block;	
}

.tick i {
	display: inline-block;	
}

.tick.active {
	color: green;
	text-shadow: 0px 0px 1px rgba(150, 150, 150, 1);
}

.beer-info .content {
    padding: 3px;
	position: relative;
	font-size: 13px;
}

.open-untappd {
	position: relative;
	width: 30px;
	height: 30px;
	display: block;
}

.open-untappd img {
	height: 100%;
	width: 100%;
}

.open-untappd .checked-in {
	display: none;
}
	
.open-untappd.active .checked-in {
	display: block;
	position: absolute;
	top: 4px;
	right: 4px;;
	font-size: 20px;
	color: #fff;
	-webkit-text-fill-color: #fff; 
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000;
	text-shadow: 0px 0px 1px rgba(150, 150, 150, 1);
}

.taplist-flexbox {
	font-size: 13px;
	line-height: 20px;
	display: flex;
}

.taplist-flexbox .session-color {
	flex: 0 0 7px;
}

.taplist-flexbox .beer-info-content {
    padding: 1px 5px;
	flex: 1;
	overflow-x: auto;
}

.taplist-flexbox .right-side {
	flex: 0 0 20px;
	text-align: right;
	padding-right: 5px;
}

.title .favorite {
	font-size:18px;
	margin-right: 4px;
	display: inline-block;
	color: #bbb;
	cursor: pointer;
}

.favorite {
	display: inline-block;	
}

.favorite.active {
	color: gold;
	-webkit-text-fill-color: gold; 
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #333;
	text-shadow: 0px 0px 1px rgba(150, 150, 150, 1);
}

.content .beer-details {
	line-height:20px;
}

.beer-extra-info {	
	font-style: italic;
	font-size: 13px;
	white-space: normal;
	line-height: 16px;
}

.rating-value {
	position: relative;
	bottom: 7px;
	left: 2px;
}

.transparent-modal {
	background:rgba(255,255,255,0.9);
}

#taplist-content {
}

#taplist-no-content {
	display: none;
}

.fixed-button {
	text-align: center;
	position: fixed;
	font-size: 24px;
	width: 65px;
	height: 65px;
	border: 2px solid;
	border-radius: 35px;
	background:rgba(255,255,255,0.9);
	line-height: 10px;
	color: #000;
}

.fixed-button:hover {
	color: #000;
	text-decoration: none;
}
 
#filters-open {
	bottom: 10px;
	left: 10px;
	cursor: pointer;
}

#filters-modal {
	font-size: 13px;
}

.fixed-button i {
	margin-top: 13px;
	font-size: 20px;
	margin-bottom: 5px;
}

.fixed-button .desc {
	font-size:10px;
}

.fixed-button img {
	margin-top: 13px;
	width: 20px;
	margin-bottom: 5px;
}

#taplist-untappd-login {
	bottom: 10px;
	left: 80px;
}

.small-bubble {
	text-align: center;
	position: fixed;
	font-size: 12px;
	border: 2px solid;
	border-radius: 35px;
	background:rgba(255,255,255,0.9);
	line-height: 14px;
	color: #000;
	padding: 5px 0;
}

#taplist-help {
	left: 285px;
	bottom: 10px;
	cursor: pointer;
}

#taplist-info {
	height: 65px;
	width: 130px;
	bottom: 10px;
	left: 150px;
}

#taplist-admin {
	left: 285px;
	bottom: 10px;
	cursor: pointer;
}

.taplist-info-untappd-icon {
	display: inline-block;
}

.taplist-info-untappd-icon img {
	width: 12px;
}

.taplist-info-icons i {
	margin-right: 2px;
	margin-top:7px;
}

.input-group-chk {
	margin-left: 20px;
}

.filtered {
	background-color: red;
	display: none;
}

.half-size {
    width: 48%;
    display: inline-block;
    display: table-cell;
}

.third-size {
    width: 32%;
    display: inline-block;
    display: table-cell;
}

.filter-group-table {
    display: table;
    width: 100%;
    margin-bottom: 4px;
}

.filter-group {
	margin-bottom: 8px;
}

.filters-title {
	font-weight: bold;
}

div.filters-title {
	margin-bottom: 3px;
}

.filters-title img {
	width: 16px;
}

.center-checkboxes {
	text-align: center;
}

.style-color-square {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin-left: 3px;
	margin-right: 3px;
}

#clear-search {
	margin-left: 6px;
	color: red;
	cursor: pointer;
	display: none;
}

#taplist-sort-select {
	margin-bottom: 3px;
}

#ratingScoreInput {
	width: 80px;
	text-align: center;
}

#ratingScoreRange {
	width:100%;
}

.filter-value {
	width: 55px;
	text-align: center;
}

.quick-checkin-label img {
	width:50px;
	height:50px;
	margin-right: 10px;
	float: left;
}

#quick-checkin-form {
	border: 1px solid #e2e2e2;
	border-radius: 10px;
    padding: 8px 15px;
}

.quick-checkin-beer-info {
    margin-bottom: 12px;
}

#ratingScoreInput {
	float: right;
}

.quick-checkin-loading {
	font-size: 32px;
	text-align:center;
}

#submit-quick-checkin {
	width: 75px;
}

.badges-unlocked-list {
	margin-top: 8px;
}

.unlocked-badge {
	margin: 6px;
	padding: 6px;
	border: 1px solid #e2e2e2;
}

.bordered-group {
	border: 1px solid #e2e2e2;
	border-radius: 8px;
	padding: 0 4px;
	text-align: center;
}

.unlocked-badge img {
	float: left;
	margin-right: 10px;
}

.unlocked-badge .badge-title {
	font-weight:bold; 
}

.unlocked-badge .badge-description {
	font-size: 12px;
	padding-left: 100px; 
}

#quick-checkin-error {
	display: none;
}

.form-check-label img {
	width: 14px;
}

.mass-check {
	cursor: pointer;
}

.page-switcher {
	margin-top: 6px;
	margin-right: 8px;
	font-size: 18px;
}

.small-text {
	font-size:13px;
}

.small-text ul {
	padding-left: 25px;
}

.taplist-loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loading-tl.gif) center no-repeat #fff;
}

.search-match {
	display: block;
}

.search-match-name {
	
}

.search-match-not-selected { 
	
}

.search-match-selected a {
	color: green;
	font-weight: bold;
}

.search-results {
	padding: 0 5px;
}

.search-results .row {
	border-bottom: 1px solid rgba(0,0,0,.125);
	margin: 4px 0;
	padding-bottom: 4px;
}

.search-results-expand {
	position: absolute;
	top: 3px;
	right: 3px;
	cursor: pointer;
}

#add-beer-error {
	display: none;
}

#add-beer-success {
	display: none;
}

#select-beer-form {
	display: none;
}

#event-taplist {
	margin-bottom: 85px;
}

btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

.taplist-admin-action  {
	margin-top: 3px;	
	margin-right: 3px;
	margin-left: 3px;
}

.alt-font {
	font-family: 'Oswald', sans-serif;
}