{% extends 'base.html.twig' %}

{% block title %}Messages validation{% endblock %}

{% block body %}
<div class="container" id="validation-messages">
	{% for message in messages %}
        {% include 'admin/templates/notification.template.html.twig' with { 'message': message } %}
	{% endfor %}
</div>

<script>
var websocket = "{{ websocket }}";
</script>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}
